<div class="modal fade" id="modalPdfView<%=key%>" tabindex="-1" aria-labelledby="modalPdfLabelView<%=key%>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalPdfLabelView<%=key%>"><%= data.title%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin:15px; width: 465px; height: auto;">
            <embed src="<%= data.pdf%>" class="w-100 rounded" style="height: 500px;">
        </div>
        <div class="modal-footer">
            <% const pdfName = data.pdf.split('/')[4]%>
            <a href="http://localhost:8080/view/pdf/<%= pdfName%>" class="btn form-control">
                View
            </a>
            
        </div>
    </div>
    </div>
</div>
