<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head/headUrl.ejs');%>
    <title>Custom Plan</title>
</head>
<body >
    <%- include('../parts/header/headerNoSearch.ejs');%>
    <%- include('../parts/sideNav.ejs');%>
    <script type="text/javascript" src="../../../public/js/planFunctions.js"></script>
    <script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="<%= midtransClientKey%>"></script>
    <div class="container">
        <h1>Custom Plan</h1>
        <% for (const key in plans) { %>
            <% const data = plans[key] %>
            <div class="card mt-4">
                <div class="card-body" >
                    <div class="mb-3">
                        <div class="row g-0">
                            <div class="col-md-2" style="align-items: center; text-align: center;">
                                <%if(data.type == 'url'){%>
                                    <div class=" mt-4">
                                        <i class="fa-solid fa-link fa-5x"></i>
                                    </div>
                                <%}else if(data.type == 'qr'){%>
                                    <div class=" mt-4">
                                        <i class="fa-solid fa-qrcode fa-6x"></i>
                                    </div>
                                <%}else if(data.type == 'prompt'){%>
                                    <div class=" mt-4">
                                        <i class="fa-solid fa-terminal fa-5x"></i>
                                    </div>
                                <%}else{%>
                                    <span class="orb-icon" title="Link-in-bio Icon">
                                        <svg fill="none" viewBox="0 0 20 20" height="100" width="180">
                                            <path fill="#273144" d="M11.667 6.667a1.667 1.667 0 11-3.334 0 1.667 1.667 0 013.334 0zM12.5 14.167c0 .5-.333.833-.833.833H8.333c-.5 0-.833-.333-.833-.833 0-.5.333-.834.833-.834h3.334c.5 0 .833.334.833.834zM8.333 11.667h3.334c.5 0 .833-.334.833-.834 0-.5-.333-.833-.833-.833H8.333c-.5 0-.833.333-.833.833 0 .5.333.834.833.834z"></path>
                                            <path fill="#273144" fill-rule="evenodd" d="M5.833 1.667h8.334c.916 0 1.666.75 1.666 1.666v13.334c0 .916-.75 1.666-1.666 1.666H5.833c-.916 0-1.666-.75-1.666-1.666V3.333c0-.916.75-1.666 1.666-1.666zm0 1.666v13.334h8.334V3.333H5.833z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                <%}%>
                            </div>
                            <div class="col col-md-5">
                                <h2><%= data.name%></h2>
                                <h5><%= data.description%></h5>
                                <h6>Price per credit: Rp.<%= data.price %></h6>
                            </div>
                            <div class="col col-md-5">
                                <div class="d-flex flex-row-reverse me-1">
                                    <h4 id="subtotal<%= data.type%>">0</h4>
                                    <h4>Rp.</h4>
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <button type="button" onclick="btnIncreaseQty(this)" class="btn btn-secondary btn-lg mt-3" category="<%= data.type%>" price="<%= data.price%>" style="border-radius: 100px;"><i class="fa-solid fa-plus"></i></button>
                                    <input type="number" oninput="loadGrandTotal()" min="0" id="ctr<%= data.type%>" class="form-control" price="<%= data.price%>" style="width: 75px; height: 50px; margin-top: 20px; margin-left: 20px; margin-right: 20px; " value="0">
                                    <button type="button" onclick="btnDecreaseQty(this)" class="btn btn-secondary btn-lg mt-3" category="<%= data.type%>" price="<%= data.price%>" style="border-radius: 100px;"><i class="fa-solid fa-minus"></i></button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        <%}%>
        <div class="d-flex flex-row-reverse justify-content-between">
            <button id="btnClickBuy" type="button" onclick="btnClickBuy(this)" class="btn btn-primary btn-lg mt-3" disabled><i class="fa-solid fa-right-to-bracket"></i>Buy</button>
            <div class="d-flex flex-row mt-3">
                <h4>Grand Total: Rp.</h4>
                <h4 id="grandTotal">0</h4>
            </div>
            
        </div>
    </div>
</body>
</html>