<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head/headUrl.ejs');%>
    <link rel="stylesheet" href="../../../public/css/bioLink-nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bevacqua/dragula@3.7.3/dist/dragula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>Bio Link</title>
    <script src='https://cdn.jsdelivr.net/gh/bevacqua/dragula@3.7.3/dist/dragula.min.js'></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
</head>
<body>
    <%- include('../parts/header/headerNoSearch.ejs');%>
    <%- include('../parts/sideNav.ejs');%>
    <script type="text/javascript" src="../../../public/js/bioFunctions.js"></script>
    <input type="hidden" name="bioLink" id="bioLink" value="<%= data.short%>">
    <input type="hidden" name="shortUrl" id="shortUrlEdit">
    <input type="hidden" name="shortUrl" id="oldDestination">
    <div id="blocks" style="display: none;"><%= JSON.stringify(data.blocks) %></div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row">
                <h1>gamepal.my.id/m/<%= data.short%></h1>
                <div>
                    <button class="btn btn-primary mt-2 ms-3" onClick="btnCopyClick(this)" value="gamepal.my.id/m/<%= data.short%>">Copy</button>
                </div>
                <%if(data.pro == false){%>
                <div>
                    <button type="button" class="form-control mt-2 ms-3 d-flex flex-row" style="width: fit-content" onclick="btnUpgradeBioLink(this)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Upgrade to Bio Link Pro to access all the features with 1 Bio Link Pro credit"> <i class="fa-solid fa-lock mt-1 me-1"></i> Upgrade</button>
                </div>
                <%}%>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-7">
                <div id="navBar" class="navBar">
                    <a href="?build">Build</a>
                    <a href="?profile">Profile</a>
                    <a href="?track">Track</a>
                    <a href="?data">Data</a>
                </div>
                <hr>
                <%if(paramType == 'profile'){%>
                    <%- include('./bioProfile.ejs');%>
                <%}else if(paramType == 'track'){%>
                    <%- include('./bioTrack.ejs');%>
                <%}else if(paramType == 'data'){%>
                    <%- include('./bioData.ejs');%>
                <%}else{%>
                    <%- include('./bioBuild.ejs');%>
                <%}%>
            </div>
            <div class="col-md-4">
                <div class="container ps-5">
                    <div class="preview mb-3">Preview</div>
                    <div class="previewContent" style="box-shadow:  5px 10px 20px 5px #888888">
                        <%- include('../parts/bioLinkContent.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function btnUpgradeBioLink(e) {
        var config = {method: 'POST', headers: {"Content-Type": "application/json"}}
        const oldBio = $('#bioLink').val()
        const data = {
            short: oldBio,
            oldShort: oldBio,
            pro: true,
            updatedAt: new Date(),
            type: 'bioPro'
        }
        config.body = JSON.stringify(data)
        Swal.fire({
            icon: "warning",
            title: "Upgrading this will unlock all the features & cost you 1 Bio Link Pro credit! Are you sure about it?",
            showCancelButton: true,
            confirmButtonText: "Go",
        }).then(async (result) => {
            if(result.isConfirmed){
                fetch('/credential/checkCredit', config).then(async (response) => {
                    if (response.ok) {
                        fetch('/api/biolink/edit', config).then(async (response) => {
                            if (response.ok) {
                                fetch('/credential/reduceCredit', config).then(async (response) => {
                                    if (response.ok) {
                                        window.location.href = '?build'
                                    }
                                    else if(response.status){
                                        Swal.fire({icon: "error", title: "Ooops....", text: 'something wrong'});
                                    }
                                }).catch((error) => {
                                    alert('WARNING!')
                                    console.log(error);
                                });
                            }
                            else if(response.status){
                                Swal.fire({icon: "error", title: "Ooops....", text: 'Something went wrong while updating the biolink!'});
                            }
                        }).catch((error) => {
                            alert('WARNING!')
                            console.log(error);
                        });
                    }
                    else if(response.status){
                        Swal.fire({icon: "error", title: "Ooops....", text: 'Insufficient Credit!'});
                    }
                }).catch((error) => {
                    alert('WARNING!')
                    console.log(error);
                })
            }
        })
    }
</script>
</html>