<h3>Profile</h3>
<h4>Image</h4>
<div class="mb-3 d-flex flex-row">
    <%if(data.avatar){%>
        <button id="btnImgAvatar" type="button" class="btn background-preview mt-3" data-bs-toggle="modal" data-bs-target="#exampleModalAvatar" style="padding: 0; background-image: url('<%=data.avatar%>');">
        </button>
        <input id="imgUrlAvatar" type="hidden" name="imgUrl" value="<%= data.avatar%>">
    <%}else{%>
        <button id="btnImgAvatar" type="button" class="btn background-preview mt-3" data-bs-toggle="modal" data-bs-target="#exampleModalAvatar" style="border-radius: 5px; padding: 0;">
            <i class="fa-regular fa-image" style="font-size: 75px;"></i>
        </button>
    <%}%>
    <div class="modal fade" id="exampleModalAvatar" tabindex="-1" aria-labelledby="exampleModalLabelAvatar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelAvatar"><%if(data.avatar){%>Edit<%}else{%>Add<%}%> Image</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="margin:15px; width: 465px; height: auto; border: 2px dashed gray;">
                <img id="outputImgAvatar" width="100%"/>
                <div id="containerUploadAvatar" style="margin:auto; text-align: center; align-items: center; width: 150px; height: 50px; margin-bottom: 25px;" >
                    <input type="file" accept=".png,.jpg,.jpeg" name="image" id="fileAvatar" onchange="loadImage(event, this)" style="display: none;" key="Avatar">
                    <label for="fileAvatar" style="cursor: pointer;border: 1px solid black; border-radius: 5px; width: 150px; height: 50px; padding-top: 10px;">Upload Image</label>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <p >Use JPG, JPEG or PNG. (max 3.5MB) </p>
                </div>
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <button id="btnRemoveImgAvatar" key="Avatar" onclick="removeImg(this)" type="button" class="btn btn-warning" style="color:white; display: none;">Remove</button>
                    </div>
                    <div>
                        <button id="btnCancelAvatar" type="button" class="btn btn-danger" data-bs-dismiss="modal"  onclick="removeImg(this)"  key="Avatar">Close</button>
                        <button id="btnSaveAvatar" type="button" class="btn btn-primary" onclick="submitImg(this)" value="Avatar" short="<%= data.short%>" disabled>Save</button>
                    </div>
                </div>
                
            </div>
        </div>
        </div>
    </div>
    <div>
        <%if(data.avatar){%>
            <button class="btnRemovePicture btn" onclick="btnDeleteImg(this)" btnCategory="avatar" short="<%= data.short%>" imgUrl="<%= data.avatar%>">Remove Pict</button>
        <%}%>
    </div>
</div>

<h4>Page title (optional)</h4>
<div class="mb-3">
    <input required type="url" name="pageTitle" id="pageTitle"  placeholder="url" class="form-control" value="<%= data.pageTitle %>">
</div>
<h4>Page Description (optional)</h4>
<div class="mb-3">
    <input type="url" name="pageDescription" id="pageDescription"  placeholder="url" class="form-control" value="<%= data.pageDescription %>">
</div>
<h4>Social Profile Icon (optional)</h4>
<div class="container mb-3 ps-5" style="background-color: rgb(255, 255, 255); border-radius: 5px;">
    <div class="mb-3 mt-3 row g-0">
        <div class="col-md-3">
            <div class="form-control">
                <i class="fa-brands fa-instagram"></i>
                Instagram
            </div>
        </div>
        <div class="col-md-8" style="margin: auto;">
            <input type="url" name="socialInstagram" id="socialInstagram"  placeholder="https://instagram.com/yourinstagramprofile" class="form-control" value="<%= data.instagram %>">
        </div>
    </div>
    <div class="mb-3 row g-0">
        <div class="col-md-3">
            <div class="form-control">
                <i class="fa-brands fa-square-facebook"></i>
                Facebook
            </div>
        </div>
        <div class="col-md-8" style="margin: auto;">
            <input type="url" name="socialFacebook" id="socialFacebook"  placeholder="https://facebook.com/yourfacebookprofile" class="form-control" value="<%= data.facebook %>">
        </div>

    </div>
    <div class="mb-3 row g-0">
        <div class="col-md-3">
            <div class="form-control">
                <i class="fa-brands fa-youtube"></i>
                Youtube
            </div>            
        </div>
        <div class="col-md-8" style="margin: auto;">
            <input type="url" name="socialYoutube" id="socialYoutube"  placeholder="https://www.youtube.com/@youryoutubechannel" class="form-control" value="<%= data.youtube %>">
        </div>
    </div>
    
</div>
<h4>Styles</h4>
<div class="preset-themes d-flex flex-row m-3 ">
    <input type="radio" id="template1" <%if (data.styleTemplate == 'template1'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template1" onclick="btnRadioChangeThemes(this)">
    <label for="template1">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#ffffff, #ffffff); width: 4em; height: 4em; border-radius: 50%; border: 1px solid black;"></div>
            <div class="template-secondary" style="background-color: #ffffff; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ; border: 1px solid black;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Default</p>
    </label>
    <input type="radio" id="template2" <%if (data.styleTemplate == 'template2'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template2" onclick="btnRadioChangeThemes(this)">
    <label for="template2">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#018786, #03DAC6); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #03DAC6; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;"> Sky Pea</p>
    </label>
    <input type="radio" id="template3" <%if (data.styleTemplate == 'template3'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template3" onclick="btnRadioChangeThemes(this)">
    <label for="template3">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#3700B3, #9582c0); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #6200EE; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Midnight Purple</p>
    </label>
    <input type="radio" id="template4" <%if (data.styleTemplate == 'template4'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template4" onclick="btnRadioChangeThemes(this)">
    <label for="template4">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#5b84b1ff, rgb(132, 188, 248)); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #fc766aff; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Living Coral</p>
    </label>
    <input type="radio" id="template5" <%if (data.styleTemplate == 'template5'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template5" onclick="btnRadioChangeThemes(this)">
    <label for="template5">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#272727, #949398ff); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #f4df4eff; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Gray & Yellow</p>
    </label>
    
</div>
<div class="preset-themes d-flex flex-row m-3">
    <input type="radio" id="template6" <%if (data.styleTemplate == 'template6'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template6" onclick="btnRadioChangeThemes(this)">
    <label for="template6">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#e3cd81ff, rgb(255, 237, 174)); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #b1b3b3ff; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Dusky</p>
    </label>
    <input type="radio" id="template7" <%if (data.styleTemplate == 'template7'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template7" onclick="btnRadioChangeThemes(this)">
    <label for="template7">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#A07855FF, rgb(207, 158, 114)); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #D4B996FF; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Brown Sugar</p>
    </label>
    <input type="radio" id="template8" <%if (data.styleTemplate == 'template8'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template8" onclick="btnRadioChangeThemes(this)">
    <label for="template8">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#6E6E6DFF, rgb(151, 151, 151)); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #FAD0C9FF; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Pink Salt</p>
    </label>
    <input type="radio" id="template9" <%if (data.styleTemplate == 'template9'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template9" onclick="btnRadioChangeThemes(this)">
    <label for="template9">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#00203FFF, rgb(6, 64, 123)); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #ADEFD1FF; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Cool Mint</p>
    </label>
    <input type="radio" id="template10" <%if (data.styleTemplate == 'template10'){%>checked <%}%> class="preset-themes" name="preset-themes" value="template10" onclick="btnRadioChangeThemes(this)">
    <label for="template10">
        <div class="d-flex flex-row mt-4 ms-1 me-2">
            <div class="template-primary" style="background-image: linear-gradient(#2c5f2d, #428d43); width: 4em; height: 4em; border-radius: 50%;"></div>
            <div class="template-secondary" style="background-color: #97bc62ff; width: 4em; height: 4em; border-radius: 50%; margin-left: -1em ;"></div>
        </div>
        <p style="text-align: center; align-items: center;">Forest Green</p>
    </label>
</div>
<div class="container mb-3">
    <div class="d-flex flex-row-reverse">
        <button id="btnSaveUrl" type="button" onclick="btnEditProfile(this)" class="btn btn-primary ms-3" short="<%= data.short%>">Save</button>
    </div>
</div>
<h4>Background</h4>
<div class="mb-3 d-flex flex-row">
    <%if(data.background){%>
        <button id="btnImgBackground" type="button" class="btn background-preview" data-bs-toggle="modal" data-bs-target="#exampleModalBackground" style="margin-top: 25px; padding: 0; background-image: url('<%=data.background%>');">
        </button>
        <input id="imgUrlBackground" type="hidden" name="imgUrl" value="<%= data.background%>">
    <%}else{%>
        <button id="btnImgBackground" type="button" class="btn background-preview" data-bs-toggle="modal" data-bs-target="#exampleModalBackground" style="margin-top: 25px; border-radius: 5px; padding: 0;">
            <i class="fa-regular fa-image" style="font-size: 75px;"></i>
        </button>
    <%}%>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalBackground" tabindex="-1" aria-labelledby="exampleModalLabelBackground" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelBackground"><%if(data.background){%>Edit<%}else{%>Add<%}%> Image</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="margin:15px; width: 465px; height: auto; border: 2px dashed gray;">
                <img id="outputImgBackground" width="100%"/>
                <div id="containerUploadBackground" style="margin:auto; text-align: center; align-items: center; width: 150px; height: 50px; margin-bottom: 25px;" >
                    <input type="file" accept=".png,.jpg,.jpeg" name="image" id="fileBackground" onchange="loadImage(event, this)" style="display: none;" key="Background">
                    <label for="fileBackground" style="cursor: pointer;border: 1px solid black; border-radius: 5px; width: 150px; height: 50px; padding-top: 10px;">Upload Image</label>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <p >Use JPG, JPEG or PNG. (max 3.5MB) </p>
                </div>
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <button id="btnRemoveImgBackground" key="Background" onclick="removeImg(this)" type="button" class="btn btn-warning" style="color:white; display: none;">Remove</button>
                    </div>
                    <div>
                        <button id="btnCancelBackground" type="button" class="btn btn-danger" data-bs-dismiss="modal"  onclick="removeImg(this)"  key="Background">Close</button>
                        <button id="btnSaveBackground" type="button" class="btn btn-primary" onclick="submitImg(this)" value="Background" short="<%= data.short%>" disabled>Save</button>
                    </div>
                </div>
                
            </div>
        </div>
        </div>
    </div>
    <div>
        <%if(data.background){%>
            <button class="btnRemovePicture btn" onclick="btnDeleteImg(this)" btnCategory="background" short="<%= data.short%>" imgUrl="<%= data.background%>">Remove Pict</button>
        <%}%>
    </div>
</div>

<script>
    function btnRadioChangeThemes(e) {  
        const template = $(e).val()
        
        for (let index = 1; index <= 10; index++) {
            const element = 'template'+index
            const background = 'template'+index+'-background'
            if($('.link').hasClass(element)){
                $('.link').removeClass(element)
            }
            if($('.hero-bg').hasClass(background)){
                $('.hero-bg').removeClass(background)
            }
        }
        $('.link').addClass(template)
        $('.hero-bg').addClass(template+'-background')
    }
</script>