<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head/headUrl.ejs');%>
    <title>Bio Link</title>
</head>
<body>
    <%- include('../parts/header/header.ejs');%>
    <%- include('../parts/sideNav.ejs');%>
    <script type="text/javascript" src="../../../public/js/bioFunctions.js"></script>
    <div class="container">
        <h1>Create New Bio Link</h1>
        <div>
            <div class="mb-3 d-flex justify-content-around">
                <input type="text" name="shortUrl"  value="gamepal.my.id/m" class="form-control" disabled>
                <h3 style="padding-left: 10px; padding-right: 10px;">/</h3>
                <input type="text" name="shortUrl" id="shortUrl"  placeholder="shorturl" class="form-control">
                <button type="button" onclick="btnAddBioLink(this)" class="btn btn-primary ms-3">Create</button>
            </div>
        </div>

        <% for (const key in allBio) { %>
            <% const data = allBio[key] %>
            <% const path = 'supersmall' %>
        <div class="card mt-4">
            <div class="card-body" >
                <div class="mb-3">
                    <div class="row g-0">
                      <div class="col-md-2">
                        <%- include('../parts/bioLinkContentSmall.ejs', { data: data, path: path, allUrl: allUrl }); %>
                      </div>
                      <div class="col col-md-10">
                        <div class="d-flex flex-row-reverse">
                            <button type="button" onclick="btnDeleteBioLink(this)" class="btn btn-danger" value="<%= data.short%>"><i class="fa-solid fa-trash-can pe-2"></i>Delete</button>
                            <a href="/biolink/edit/<%= data.short%>" >
                                <button type="button" class="btn btn-success mx-2" value="<%= data.short%>"><i class="fa-solid fa-pen-to-square pe-2"></i>Edit</button>
                            </a>
                        </div>
                        <div class="text-left ms-3">
                            <a href="/biolink/edit/<%= data.short%>" style="text-decoration: none; color: black;">
                                <h4 class="card-title"><%= data.short%></h4>
                            </a>
                            <a href="<%= data.full%>" style="text-decoration: none;"><%= data.full%></a>
                            <p class="card-text"><small class="text-body-secondary"><i class="fa-regular fa-eye me-2"></i><b><%= data.clicks%></b> views</small></p>
                            <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-calendar me-2"></i><%= data.createdDate%></small></p>
                            <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-pen me-2"></i>Last Update: <%= data.updateDate%></small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <% } %>
        
    </div>
</body>
</html>