<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head/headUrl.ejs');%>
    <title>Analytic</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
    <script type="text/javascript" src="../../../public/js/analyticFunctions.js"></script>
    <%- include('../parts/header/headerNoSearch.ejs');%>
    <%- include('../parts/sideNav.ejs');%>
    <input type="hidden" name="report" id="report" value="<%= report%>">
    <div id="reportData" style="display: none;">
        <%= JSON.stringify(report) %>
    </div>
    <div class="container">
        <h1>Analytic</h1>
        <div>
            <h6>Date Anchor</h6>
            <div class="d-flex flex-row">
                <input type="date" name="dateAnchor" id="dateAnchor" onchange="dateChange(this)" class="form-control" style="width: 15em;">
                
                <select name="filterType" id="filterType" onchange="changeType(this)" class="form-control ms-3" style="width: 15em;">
                    <option value="all">All Type</option>
                    <option value="url">Short URL</option>
                    <option value="qr">QR Code</option>
                    <option value="bio">Bio Link</option>
                </select>
            </div>
            <label for="dateAnchor">This date anchor is used as an anchor for the next 7 days after that day</label>
        </div>
        <hr>
        <div class="row g-0 contentData">
            <div class="col-md-7 card card-body ">
                <h4>Clicks over time</h4>
                <canvas id="lineChart"></canvas>
            </div>
            <div class="col-md-4 ms-3 card card-body">
                <div style="position: relative; height: 50vh;">
                    <h4>Clicks by device</h4>
                    <canvas id="pieChart" ></canvas>
                </div>
            </div>
        </div>
        <div class="mt-3 card card-body contentData">
            <h4>Clicks by location</h4>
            <table id="countryTable" class="display">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th>Click</th>
                    </tr>
                </thead>
                <tbody id="countryBodyTable">
                </tbody>
            </table>
        </div>
        <div id="noData" class=" noDataContent">
          <h4 style="line-height: 12em;">No Data</h4>
      </div>
    </div>
    
    <script>
        getStarted()
        document.getElementById('dateAnchor').valueAsDate = new Date()
       
    </script>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Show a second modal and hide this one with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>